section.gestions {
    text-align: center;
}

section.gestions > table, section.gestions > table > caption, th, td {
    margin: auto;
    padding: 10px;
    border: 2px solid #9683EC;
    border-collapse: collapse;
}

section.gestions > table > caption {
    font-weight: bold;
}

section.gestions > table > tr > td > a, section.gestions > table > tr > td > button {
    background: none;
    padding: 0;
    border: none;
    color: #9683EC;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}

section.gestions > table > p {
    text-align: center;
}

section.gestions > button {
    height: 30px;
    background-color: #9683EC;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

section.gestions > button > a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

/***********************************
        PAGES EDIT & ADD
***********************************/
.linkBack {
    display: block;
    margin: 10px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: darkviolet;
}

form.formAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.formAdmin > input, form.formAdmin > textarea, form.formAdmin > select {
    width: 95%;
    height: 40px;
    margin: 5px auto;
    padding: 0 10px;
    border: 1px solid #9683EC;
    border-radius: 10px;
}

form.formAdmin > .errorAdmin {
    border: 1px solid red;
}

form.formAdmin > p {
    color: red;
}

form.formAdmin > textarea {
    height: auto;
    padding: 10px;
}

form.formAdmin > select {
    width: 100%;
}

form.formAdmin > input[type='file'] {
    height: auto;
    background-color: #9683EC;
    padding: 10px;
    color: white;
}

form.formAdmin > img {
    width: 80%;
    border: 1px solid #9683EC;
}

form.formAdmin > input[type='submit'] {
    background-color: #9683EC;
    border: 1px solid black;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

form.formAdmin > input[disabled] {
    background-color: gainsboro;
}

@media screen and (min-width: 820px) {
    div.flexAdmin {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /***********************************
            PAGES EDIT & ADD
    ***********************************/
    form.formAdmin {
        width: 90%;
        margin: auto;
    }

    .linkBack {
        width: 95%;
        margin-left: auto;
    }

    form.formAdmin > select {
        width: 98.5%;
    }

    form.formAdmin > img {
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    div.flexAdmin {
        justify-content: space-around;
    }

    /***********************************
            PAGES EDIT & ADD
    ***********************************/
    form.formAdmin {
        width: 85%;
    }

    .linkBack {
        width: 90%;
    }

    form.formAdmin > img {
        width: 55%;
    }
}

@media screen and (min-width: 1200px) {
    div.flexAdmin {
        width: 90%;
        margin: auto;
    }

    /***********************************
            PAGES EDIT & ADD
    ***********************************/
    form.formAdmin {
        width: 80%;
    }

    form.formAdmin > img {
        width: 50%;
    }
}

@media screen and (min-width: 1400px) {
    div.flexAdmin {
        width: 80%;
    }

    /***********************************
            PAGES EDIT & ADD
    ***********************************/
    form.formAdmin {
        width: 75%;
    }

    .linkBack {
        width: 85%;
    }

    form.formAdmin > img {
        width: 45%;
    }
}

@media screen and (min-width: 1600px) {
    div.flexAdmin {
        width: 70%;
    }

    /***********************************
            PAGES EDIT & ADD
    ***********************************/
    form.formAdmin {
        width: 70%;
    }

    form.formAdmin > img {
        width: 40%;
    }
}