div.divArticle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #9683EC;
}

div.divArticle > img {
    max-width: 100%;
    max-height: 100%;
    width: 20%;
    height: 20%;
    aspect-ratio: 1;
    object-fit: cover;
}

div.divArticle > h2 {
    width: 25%;
    color: darkviolet;
    font-size: 1rem;
    text-transform: uppercase;
}

div.divArticle > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div.divArticle > div > button {
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

div.divArticle > div > p {
    margin: 0 20px;
    color: darkviolet;
    font-weight: bold;
}

div.divArticle > p {
    width: 15%;
    color: darkviolet;
    text-align: center;
    font-weight: bold;
}

div.divArticle > button {
    padding: 0;
    width: 20px;
    height: auto;
    background-color: transparent;
    filter: invert(12%) sepia(92%) saturate(7129%) hue-rotate(284deg) brightness(86%) contrast(113%);
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    div.divArticle > img {
        width: 15%;
    }
}

@media screen and (min-width: 992px) {
    div.divArticle > img {
        width: 10%;
    }
    
    div.divArticle > h2 {
        font-size: 1.2rem;
    }

    div.divArticle > div > p, div.divArticle > p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    
}

@media screen and (min-width: 1400px) {
    div.divArticle {
        width: 80%;
    }
}

@media screen and (min-width: 1600px) {
    div.divArticle {
        width: 70%;
    }
}