main.mainAuth {
    min-height: 40vh;
}

form.formAuth {
    display: flex;
    flex-direction: column;
}

form.formAuth > input {
    height: 40px;
    margin: 5px 0;
    padding: 0 10px;
    border: 1px solid #9683EC;
    border-radius: 10px;
    font-size: 0.75rem;
}

form.formAuth > input.colorError {
    border: 1px solid red;
}

form.formAuth > input[type='submit'] {
    background-color: #9683EC;
    border: 1px solid black;
    border-radius: 0px;
    text-transform: uppercase;
    color: white;
}

form.formAuth > p {
    color: red;
    text-align: center;
}

main.mainAuth > p {
    text-align: center;
}

@media screen and (min-width: 992px) {
    form.formAuth {
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: 1200px) {
    form.formAuth {
        width: 70%;
    }
}

@media screen and (min-width: 1400px) {
    form.formAuth {
        width: 60%;
    }
}