div.divCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 42.5%;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #9683EC;
}

div.divCard > .produitLink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-decoration: none;
}

div.divCard > .produitLink > img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

div.divCard > .produitLink > h2 {
    margin: 5px 0;
    text-align: center;
    text-transform: uppercase;
    color: darkviolet;
    font-size: 1rem;
}

.detailsCard, .prixCard {
    font-size: 0.7rem;
    color: darkviolet;
}

div.divCard > button {
    width: 100%;
    height: 40px;
    background-color: #9683EC;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (min-width: 750px) {
    div.divCard {
        width: 25%;
    }
}

@media screen and (min-width: 992px) {
    div.divCard {
        width: 20%;
    }
}

@media screen and (min-width: 1260px) {
    div.divCard {
        width: 18.5%;
        margin: 0 5px;
    }
}

@media screen and (min-width: 1850px) {
    div.divCard {
        width: 15%;
    }
}