main.mainCart {
    min-height: 40vh;
}

div.articlesCart > p {
    text-align: center;
}

div.totalCart {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div.totalCart > p {
    margin-left: auto;
    margin-right: 0;
    padding: 10px 5px;
    border: 1px solid #9683EC;
    color: darkviolet;
    font-weight: bold;
    text-transform: uppercase;
}

div.buttonsCart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div.buttonsCart > a > button, div.buttonsCart > button {
    height: 40px;
    background-color: #9683EC;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

div.popupCart {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #CFA0E9;
    padding: 20px;
    border: 5px solid #9683EC;
    border-radius: 5px;
    text-align: center;
    color: white;
}

div.popupCart > p {
    font-weight: bold;
}

div.popupCart > a > button {
    height: 40px;
    background-color: #9683EC;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (min-width: 1400px) {
    div.totalCart {
        width: 91%;
    }
}

@media screen and (min-width: 1600px) {
    div.totalCart {
        width: 85.8%;
    }
}