.linkDetails {
    display: block;
    margin: 10px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: darkviolet;
}

section.rowDetails > img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border: 1px solid #9683EC;
}

section.rowDetails > div > h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: darkviolet;
}

section.rowDetails > div > p.descrip {
    margin: 10px 0;
    color: #9683EC;
    font-size: 1rem;
}

section.rowDetails > div > button {
    width: 100%;
    height: 40px;
    background-color: #9683EC;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    section.rowDetails > img {
        width: 80%;
        margin: 0 10%;
    }
}

@media screen and (min-width: 750px) {
    section.rowDetails > img {
        width: 70%;
        margin: 0 15%;
    }
}

@media screen and (min-width: 900px) {
    section.rowDetails, section.rowDetails > div {
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 992px) {
    section.rowDetails {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    section.rowDetails > img {
        width: 40%;
        margin: 0;
    }

    section.rowDetails > div {
        width: 45%;
        margin-right: 0;
    }

    section.rowDetails > div > h1 {
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    section.rowDetails {
        width: 90%;
    }

    .linkDetails {
        width: 95%;
        margin-left: auto;
    }
}

@media screen and (min-width: 1400px) {
    section.rowDetails {
        width: 80%;
        justify-content: space-around;
    }

    .linkDetails {
        width: 90%;
    }
}

@media screen and (min-width: 1600px) {
    section.rowDetails {
        width: 70%;
        justify-content: space-evenly;
    }

    .linkDetails {
        width: 85%;
    }
}