footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #CFA0E9;
    align-items: center;
    margin-top: 20px;
    padding: 10px 0;
    color: white;
}

.logo-footer {
    height: 5rem;
}

footer > p {
    font-size: 12px;
}