nav {
    display: flex;
    flex-direction: column;
    background-color: #CFA0E9;
}

nav > div > .liens {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    border-top: 1px solid white;
}

nav > div > .liens:hover {
    background-color: #660099;
}

nav > div > .bold:hover {
    color: white;
}

.liens {
    color: white;
    text-align: center;
    text-decoration: none;
}

.bold {
    font-weight: bold;
    color: #660099;
}

.logo {
    display: none;
}

@media screen and (min-width: 992px) {
    header {
        height: 35vh;
        background-image: url('../img/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }

    nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    nav > div > .liens {
        display: inline;
        flex-direction: row;
        margin-left: 30px;
        border-top: none;
    }

    nav > div > .liens:hover {
        background-color: transparent;
    }

    nav > div > .bold:hover {
        color: #660099;
    }

    .logo-center {
        width: 100%;
        position: absolute;
        top: 6vh;
    }

    .logo {
        display: block;
        height: 13rem;
        margin: auto;
    }
}