main > section.produits > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width: 1260px) {
    main > section.produits > div {
        justify-content: flex-start;
        margin: 0 -5px;
    }
}