section.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.profile > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section.profile > div > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 125px;
    margin: 0 5px;
    padding: 10px;
    border: 1px solid #9683EC;
    border-radius: 10px;
    color: #9683EC;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

section.profile > div > a > img {
    height: 80px;
    filter: invert(73%) sepia(73%) saturate(3902%) hue-rotate(211deg) brightness(93%) contrast(99%);
}

section.profile > table, section.profile > table > caption, th, td {
    padding: 10px;
    border: 2px solid #9683EC;
    border-collapse: collapse;
}

section.profile > table > caption {
    font-weight: bold;
}

section.profile > table > p {
    text-align: center;
}

/***********************************
    PAGES ADRESSE & PASSWORD
***********************************/
.linkBack {
    display: block;
    margin: 10px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: darkviolet;
}

form.formProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.formProfile > input {
    width: 95%;
    height: 40px;
    margin: 5px auto;
    padding: 0 10px;
    border: 1px solid #9683EC;
    border-radius: 10px;
}

form.formProfile > .errorProfile {
    border: 1px solid red;
}

form.formProfile > p {
    color: red;
}

form.formProfile > input[type='submit'] {
    background-color: #9683EC;
    border: 1px solid black;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    section.profile > div > a {
        margin: 0 10px;
    }
}

@media screen and (min-width: 820px) {
    /***********************************
        PAGES ADRESSE & PASSWORD
    ***********************************/
    form.formProfile {
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 992px) {
    section.profile > div {
        width: 70%;
    }

    section.profile > div > a {
        margin: 0 auto;
    }

    /***********************************
        PAGES ADRESSE & PASSWORD
    ***********************************/
    form.formProfile {
        width: 85%;
    }
}

@media screen and (min-width: 1200px) {
    section.profile > div {
        width: 50%;
    }

    /***********************************
        PAGES ADRESSE & PASSWORD
    ***********************************/
    form.formProfile {
        width: 80%;
    }
}

@media screen and (min-width: 1400px) {
    /***********************************
        PAGES ADRESSE & PASSWORD
    ***********************************/
    form.formProfile {
        width: 75%;
    }
}

@media screen and (min-width: 1600px) {
    /***********************************
        PAGES ADRESSE & PASSWORD
    ***********************************/
    form.formProfile {
        width: 70%;
    }
}